.expenses-container {
    margin-bottom: 64px;

    .expenses-display {
        display: flex;
        gap: 128px;
        height: 500px;
        background-color: #17588E;
        margin: -25px -64px;
        justify-content: center;
        align-items: center;

        .icon {
            background-color: #2f699a;
            border-radius: 50%;
            height: 250px;
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: center;

            .item-display {
                transform: scale(1.2);
            }

            @media (max-width: 480px) {
                height: 175px;
                width: 175px;
            }
        }

        .display-container {
            display: flex;
            flex-direction: column;
            color: white;
            gap: 24px;
            width: 30%;

            .display-title {
                font-size: 24px;
                font-weight: bold;
            }

            .display-subtitle {
                font-weight: 200;
                font-size: 16px;
            }

            
            .btn-generate {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 16px;
                height: 40px;
                width: 175px;
                border-radius: 3px;
                background-color: white;
                border: 1px solid white;
                color: #17588E;
                cursor: pointer;
                transition: 0.3s;

                .arrow-icon {
                    margin-left: auto;
                }

                span {
                    width: 90%;
                }

                &:hover {
                    background-color: #17588E;
                    color: white;
                }

                @media (max-width: 480px) {
                    width: 100%;
                }
            }
        }

        @media (max-width: 480px) {
            flex-direction: column;
            height: auto;
            gap: 32px;
            padding-top: 32px;
        
            .display-container {
              width: 80%;
              align-items: center;
              text-align: center; 
              padding-bottom: 64px;

                .display-title {
                    font-size: 20px;
                    font-weight: bold;
                }

                .display-subtitle {
                    font-weight: 200;
                    font-size: 14px;
                }
            }
        }
    }

    .expenses-record {
        margin-top: 64px;

        h2 {
            color: #231F20;
        }

        @media (max-width: 480px) {
            margin-left: -32px;
            margin-right: -32px;
        }

        table {
            thead {
                background-color: #F8F8F8;
                border-radius: 5px;

                th {
                    border-bottom: 0;

                    span {
                        color: #5A5A5A;
                    }
                }
            }

            td {
                padding: 24px 16px;
                border-bottom: 2px solid #F8F8F8;
            }

            .column-label-actions {
                text-align: center;
            }

            .column-actions {
                display: flex;
                justify-content: center;
                gap: 12px;

                button {
                    width: 75px;
                    height: 35px;
                    color: white;
                    cursor: pointer;
                    border-radius: 5px;
                    transition: 0.3s;

                    &.btn-delete {
                        background-color: #B64D49;
                        border: 1px solid #B64D49;

                        &:hover {
                            background-color: white;
                            color: #B64D49;
                        }
                    }

                    &.btn-edit {
                        background-color: #17588E;
                        border: 1px solid #17588E;

                        &:hover {
                            background-color: white;
                            color: #17588E;
                        }
                    }
                }
            }
        }
    }

    .disabled {
        pointer-events: none;
        cursor: not-allowed;
    }
}

.ReactModal__Content .modal-container {
    overflow: hidden;
    padding: 32px 64px;

    .header {
        display: flex;
        align-items: center;
        gap: 24px;

        .icon {
            width: 50px;
            height: 50px;
            background-color: rgba(23, 88, 142, 0.1);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &.delete {
                background-color: rgba(182, 77, 73, 0.1);
            }

            &.close-icon {
                width: 30px;
                height: 30px;
                background-color: #F1F2F6;
                margin-left: auto;
                cursor: pointer;
                
            }
        }

        h2 {
            color: #17588E;

            &.h2-delete {
                color: #B64D49;
            }
        }
    }

    .separator {
        border:1px solid #F1F2F6;
        width: 100%;
        margin: 20px 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 16px;

        &.delete {
            display: flex;
            justify-content: center;

            .content-title {
                font-weight: 600;
                font-size: 18px;
            }

            .row {
                label {
                    font-weight: bold;
                }
            }
        }

        .form-row {
            display: flex;
            flex-wrap: wrap; 
            gap: 32px;

            @media (max-width: 480px) {
                gap: 24px;
            }

            .field-container {
                display: flex;
                flex-direction: column;
                flex: 1;
                min-width: 250px;
                gap: 12px;

                label {
                    color: #17588E;
                    font-weight: 500;
                }

                select {
                    height: 35px;
                    padding: 0 8px;
                    border-radius: 5px;
                    border: 1px solid #F1F2F6;
                    color: #231F20;
                    font-size: 16px;
                }

                input {
                    height: 35px;
                    padding: 0 8px;
                    border-radius: 5px;
                    border: 1px solid #F1F2F6;
                    color: #231F20;
                    font-size: 16px;
                    -webkit-min-logical-width: 90%;
                }
            }
        }

        .btn-generate {
            margin-top: 32px;
            height: 40px;
            width: 250px;
            align-self: center;
            border-radius: 5px;
            color: #17588E;
            background-color: #17588E;
            border: 1px solid #17588E;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: #1c6aaa;
                border: 1px solid #1c6aaa;
            }

            @media (max-width: 480px) {
                width: 100%;
            }
        }

        .btn-delete {
            margin-top: 32px;
            height: 40px;
            width: 250px;
            align-self: center;
            border-radius: 5px;
            color: #B64D49;
            background-color: #B64D49;
            border: 1px solid #B64D49;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: #da6561;
                border: 1px solid #da6561;
            }

            @media (max-width: 480px) {
                width: 100%;
            }
        }
        
        .spinner {
            border: 4px solid #f3f3f3;
            border-top: 4px solid #3498db;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            animation: spin 1.5s linear infinite;

            &.delete {
                border-top: 4px solid #d85854;
            }
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }

    @media (max-width: 480px) {
        padding: 32px;
        height: fit-content;
    }

    .disabled {
        pointer-events: none;
        cursor: not-allowed;
    }
}